body {
  margin: 0;
  position: relative;
  height: 100%;
  border: 1px solid black;
}

.counter {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 50px;
  color: #777777;
}

.blue { background-color: #207EBC; }
.red { background-color: #C23724; }
.yellow { background-color: #F3C500; }
.green { background-color: #1AAF5C; }

html,
#root,
.App,
.columns-container {
  position: relative;
  margin: 0;
}

.columns-container {
  height: 100%;
}

.App {
  height: calc(100% - 5em);
  padding-top: 5em;
}
html {
  height: 100%;
}
#root {
  height: 100%;
}


header.MuiAppBar-colorPrimary-8 {
  background-color: #F3C500;
}